.social-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  button {
    width: 100%;
    max-width: 320px;
    a {
      color: $white;
    }
  }
  .social-login--naver,
  .social-login--github,
  .social-login--kakao {
    color: $white;
    font-weight: 600;
    i {
      padding: 5px;
    }
  }
  .social-login--github {
    background-color: $black;
  }
  .social-login--naver {
    background-color: $green;
  }
  .social-login--kakao {
    background-color: $kakao;
  }
  span {
    font-size: 20px;
    margin-right: 10px;
  }
}
