extends ./layouts/main.pug
include ./partial/mixins/videoBlock

block content
    .search__header 
        h3 Searching by #{searchingBy}
    .search__videos
        if videos.length===0
            h5 No Videos Fount
        each video in videos
            +videoBlock(video)
