extends ./layouts/main.pug
block content
    .form-container
        form(action=routes.users+routes.changePassword,method="post")
            label(for="current-password") Current Password
            input(type="password",id="current-password",name="oldPassword",placeholder="Current Password")
            label(for="new-password") New Password
            input(type="password",name="newPassword1",placeholder="New Password")
            label(for="new-password") Verify New Password
            input(type="password",name="newPassword2",placeholder="Verify New Password")
            input(type="submit",value="Change Password")