extends ./layouts/main.pug
block content
    .form-container
        form(action=`${routes.editVideo(video._id)}`,method="post",enctype="multipart/form-data")
            .thumbnailUpload
                .thumb-container
                    .preview
                    .thumb-upload-btn
                        button +
                        input(type="file",class="thumb",id="thumbnail",name="thumbnail")
            input(type="text",name="title",placeholder="title",value=video.title)
            textarea(name="description", cols="30", rows="5",placeholder="description")=video.description
            input(type="submit",value="Upload Video")
        a.delete-video(href=routes.deleteVideo(video._id)) 
            button.delete Delete Video