.social-login
    button.social-login--github
        a(href=routes.github)    
            span 
                i.fab.fa-github
            |Continue with GitHub
    button.social-login--naver
        a(href=routes.naver)
            span
                i.fab.fa-neos
            |Continue with Naver
    button.social-login--kakao
        a(href=routes.kakao)
            span
                i.fab.fa-kaggle
            |Continue with Kakao