.search__header {
  font-weight: 600;
  padding-bottom: 10px;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}
.search__videos {
  @include flex(column, center, center);
  .videoBlock {
    width: 80%;
    padding: 10px;
    background-color: $white;
    box-shadow: 2px 3px 14px 1px #0000002b;
    a {
      @include flex(row, none, none);
      video {
        max-width: 300px !important;
        margin-bottom: 0;
        margin-right: 20px;
      }
      .video__context {
        @include flex(column, none, none);
        width: 100%;
        .videoBlock__title {
          font-weight: 400;
          font-size: 1.2rem;
        }
      }
    }
  }
  .videoBlock:not(:last-child) {
    margin-bottom: 10px;
  }
}
