mixin comment(comment={})
    .comment__body(id=comment.id)
        .comment__author
            img(src=comment.creator.avatarUrl)
        .comment__main
            p.comment__header=comment.creator.name
            p.comment__content=comment.text
            if loggedUser && loggedUser.id===comment.creator.id
                span.comment__delete x
        