.header {
  position: fixed;
  top: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: $white;
  z-index: 1;
  .header__column {
    &:first-child {
      padding: 10px;
      position: absolute;
      left: 0;
      a i {
        color: $red;
      }
    }
    &:nth-child(2) {
      width: 800px;
      form {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        border-radius: 1px;
        border: 1px solid #e3e3e3;
        input {
          width: 100%;
          padding: 5px 10px;
          font-size: 15px;
          color: $black;
          font-weight: 300;
          &::placeholder {
            color: $dark-grey;
          }
        }
      }
    }
    &:nth-child(3) {
      position: absolute;
      right: 10px;
      ul {
        display: $displayFlex;
        flex-direction: row;
        padding: $noPadding;
        li {
          list-style: $listStyle;
          padding: 10px;
          a {
            color: $black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
