.infoBlock {
  display: flex;
  flex-direction: column;
  .info:not(:last-child) {
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: 1px solid #a0a0a0;
  }
  .info {
    p {
      margin: 10px 0;
    }
    .form-container {
      max-width: 100%;
      margin: 20px auto;
      form {
        display: none;
        text-align: center;
        margin-bottom: 0;
        textarea {
          max-width: 100%;
        }
        .info__btn {
          display: flex;
          flex-direction: row-reverse;
          input[type="submit"],
          button {
            width: 60px;
            margin: 5px;
            font-size: 0.6rem;
            border-radius: 5px;
          }
        }
      }
    }
    .description__container {
      p {
        word-break: break-all;
        word-wrap: break-word;
      }
    }
  }
  .link__form {
    display: none;
    form {
      position: relative;
      .link__input {
        display: flex;
        flex-direction: row;
        input {
          max-width: 400px;
          border: 1px solid $dark-grey;
        }
      }
      .confirm__link {
        position: absolute;
        right: 0;
        margin-right: 5px;
      }
      .delete_form {
        width: 50px;
        background-color: $light-grey;
        flex-grow: 1;
      }
    }
  }
  .description__btn,
  .linkbtn,
  .confirm__link,
  .add__link,
  .cancel__link {
    width: 60px;
    background-color: #e3e3e3;
    font-size: 0.7rem;
    margin: 0;
    box-shadow: $shadow;
    margin-left: 5px;
  }
  .add__link {
    margin-left: 0;
  }
  .linkbtn {
    display: none;
    margin-left: 0;
  }
  .description__btn {
    display: none;
    width: 100px;
  }
  .cur {
    display: block !important;
  }
}
