@keyframes flashMessageBar {
  0% {
    transform: translateY(-40px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.flash-message__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: 600;
  animation: flashMessageBar 5s forwards;
  z-index: 100;
  &.error {
    background-color: $dark-red;
  }
  &.info {
    background-color: $light-green;
  }
  &.success {
    background-color: $dark-blue;
  }
}
