.videoBlock {
  video,
  .videoBlock__title,
  .videoBlock__views {
    margin-bottom: 10px;
  }
  video {
    max-width: 100%;
  }
  .videoBlock__title {
    font-size: 15px;
    font-weight: 500;
    color: $black;
    word-break: break-all;
  }
  .video__view_creator {
    .videoBlock__views,
    .videoBlock__creator {
      color: $dark-grey;
    }
    .videoBlock__creator {
      margin-bottom: 5px;
      &:hover {
        color: $black;
      }
    }
    span,
    a {
      color: $dark-grey;
    }
    a {
      display: inline;
    }
  }
}
