.video__player {
  position: relative;
  margin-bottom: 10px;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
  }
  .videoPlayer__status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex(row, center, center);
    span {
      display: none;
      padding: 20px;
      border-radius: 50%;
      text-align: center;
      i {
        color: $white;
      }
    }
  }
  .videoPlayer__controls {
    position: absolute;
    opacity: 0;
    z-index: 10;
    width: 100%;
    bottom: 0px;
    color: $white;
    background-color: rgba(0, 0, 0, 0.87);
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    transition: opacity 0.3s linear;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    #process-bar {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.3rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      transition: all 0.3s;
      padding-left: 5px;
      padding-right: 5px;
      &::-webkit-progress-value {
        background-color: #ffcc00;
        background-size: 35px 20px, 100% 100%, 100% 100%;
      }
    }
    .videoPlayer__column {
      margin: 10px;
      i {
        cursor: pointer;
      }
    }
    .videoPlayer__column:nth-child(2) {
      span:first-child {
        margin-right: 20px;
      }
      span:last-child {
        font-size: 12px;
      }
      #currentTime,
      #totalTime {
        margin-right: 0;
      }
    }
    .videoPlayer__column:last-child {
      justify-self: end;
      .videoPlayer__volume,
      .videoPlayer__expand {
        display: inline-block;
      }
      .videoPlayer__volume {
        position: relative;
      }
      span {
        margin-right: 20px;
      }
    }
  }
  input[type="range"] {
    position: absolute;
    width: 135px;
    height: 25px;
    bottom: 85px;
    right: -40px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    transform: rotate(270deg);
    opacity: 0;
    transition: all 0.3s;
  }
}
