include ../partial/mixins/message
doctype html
html
    head
        script(src="https://kit.fontawesome.com/e5fb7a43a0.js",crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        if messages.error
            +message({type:"error",text:messages.error})
        else if messages.info
            +message({type:"info",text:messages.info})
        else if messages.success
            +message({type:"success",text:messages.success})
        include ../partial/header
        main
            block content 
        include ../partial/footer
        script(src="/static/main.js")